<footer>
    <div class="footcontent">
        <div class="container">
            <!-- Social Media Links -->
            <div class="row text-center p-5">
                <div class="col-4">
                    <a href="https://www.facebook.com/" 
                       aria-label="View more about Tennis Booking System on Facebook" 
                       rel="noopener" 
                       target="_blank">
                        <i class="fab fa-facebook fa-2x social-icons"></i>
                    </a>
                </div>
                <div class="col-4">
                    <a href="https://x.com/?lang=en" 
                       aria-label="View more updates at Tennis Booking System on Twitter/X" 
                       rel="noopener" 
                       target="_blank">
                        <i class="fab fa-twitter fa-2x social-icons"></i>
                    </a>
                </div>
                <div class="col-4">
                    <a href="https://www.instagram.com/" 
                       aria-label="View more about the Tennis Booking System on Instagram" 
                       rel="noopener" 
                       target="_blank">
                        <i class="fab fa-instagram fa-2x social-icons"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Copyright Section -->
        <div class="footertext">
            <div class="row">
                <div class="col-12 text-center text-green">
                    <strong>
                        <span id="footer-year"></span> Tennis Booking System. All rights reserved.
                    </strong>
                    <br />
                    <small>Website Created By <span class="designer">Ricardo Moreira</span></small>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript Block -->
{% block scripts %}
<script>
    // Dynamically update the year in the footer
    document.getElementById('footer-year').textContent = `© ${new Date().getFullYear()}`;
</script>
{% endblock %}
